doctype html
html(lang='en')
  head
    title Meetify
    style(src="css/style.css" rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset="utf-8")
  body
    .home
      img(src="media/logo.svg")
      .bar
        a(href="/login")
          h2 connect using spotify
        